<section id="contact" class="flex">
  <div>
    <q>Get in touch <strong>inspirational</strong> quote</q>
  </div>
  <div class="card">
    <img src="media/polygon.png" alt="mapPointer">
    <form action="process.php" method="get">
      <h1>Get in touch</h1>
      <label for="fullName">Your full name</label>
      <input type="text" id="fullName" required>
      <label for="eMail">Your email</label>
      <input type="email" id="eMail" required>
      <label for="subject">Subject</label>
      <input type="text" id="subject" required>
      <label for="message">Your message</label>
      <textarea name="message" id="message" cols="30" rows="10" required></textarea>
      <div>
        <input type="submit" value="Send message" id="sendMessage">
        <i class="fa fa-envelope"></i>
      </div>
      <!-- <button>Send message</button> -->
    </form>
  </div>
</section>
<section id="socialMediaLogos"></section>