section {
  margin: 0;
  background-image: url(../../../assets/images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  align-items: flex-end;
  padding: 20px 0 100px 50px;
}

img {
  position: absolute;
  top: 350px;
  left: -90px;
}

h1 {
  padding-bottom: 10px;
}

q {
  font-size: 65px;
  line-height: 65px;
}

#quote {
  flex: 1;
}

.card {
  padding: 30px 60px;
  margin-right: 320px;
  flex: 0.5;
  position: relative;
}

@media only screen and (max-width:1000px) {

  section {
    flex-direction: column;
    padding: 0 !important;
    align-items: center !important;
    height: 40vh;
    margin-bottom: 90vh !important;
  }

  section q {
    font-size: 27px !important;
    line-height: unset !important;
    position: absolute;
    bottom: 50%;
  }

  .card {
    padding: 20px !important;
    margin: 0 !important;
    position: absolute !important;
    top: 220px;
    width: 75% !important;
  }

  .card img {
    display: none;
  }
}
