<section id="aboutMe" class="card">
  <!-- title component -->
  <h1>About me & languages</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat at officia cupiditate quasi maxime
    asperiores esse tenetur, hic modi deleniti voluptate deserunt ut nobis obcaecati et non ea
    reiciendis
    officiis.</p>

  <div id="languagesHobbies">
    <div id="languages">
      <h2>Languages</h2>
      <app-progress-bar></app-progress-bar>
    </div>
    <div id="hobbies">
      <h2>Hobbies</h2>
      <app-hobbies></app-hobbies>
      <app-learn-more></app-learn-more>
    </div>
  </div>
</section>
