#aboutMe h1 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 5px;
}

#aboutMe h2 {
  font-size: 16px;
  font-weight: 600;
  padding: 25px 0;
}

#languagesHobbies {
  display: flex;
}

#languagesHobbies div {
  flex: 1;
}

#hobbies {
  position: relative;
}

#hobbies div:first-of-type {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(182, 181, 181);
}


@media only screen and (max-width:1000px) {

  .card {
    margin-top: 50px;
  }

  .card h1 {
    font-size: 18px;
  }

  .card h2 {
    padding: 15px 0;
    font-size: 18px;
  }

  #languagesHobbies {
    flex-direction: column;
  }

  #languagesHobbies div:first-of-type div {
    width: 100%;
  }
}
