<section id="aboutLanguages">
  <section id="aboutMe" class="card">
    <h1>About me & languages</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat at officia cupiditate quasi maxime
      asperiores esse tenetur, hic modi deleniti voluptate deserunt ut nobis obcaecati et non ea
      reiciendis
      officiis.</p>
    <div id="languagesHobbies">
      <div>
        <h2>Languages</h2>
        <div class="pSmall">
          <p>Spanish</p>
          <p>100%</p>
        </div>
        <div class="progressContainer">
          <div class="progress1"></div>
        </div>
        <div class="pSmall">
          <p>English</p>
          <p>80%</p>
        </div>
        <div class="progressContainer">
          <div class="progress2"></div>
        </div>
        <div class="pSmall">
          <p>French</p>
          <p>75%</p>
        </div>
        <div class="progressContainer">
          <div class="progress3"></div>
        </div>
      </div>
      <div id="hobbies">
        <h2>Hobbies</h2>
        <div>
          <article>
            <img src="media/headphones.png" alt="">
            <p class="pSmallBold">Music</p>
          </article>
          <article>
            <img src="media/cinema.png" alt="">
            <p class="pSmallBold">Movies</p>
          </article>
          <article>
            <img src="media/photographer.png" alt="">
            <p class="pSmallBold">Photos</p>
          </article>
        </div>
        <div id="learnMore">
          <p>Know more about me:</p>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <div id="quote">
    <q>Super pretty <strong>inspirational</strong> quote</q>
    <figure id="logoBack">
      <img src="../../../assets/images/Logo.svg" alt="Endava Logo">
    </figure>
  </div>
</section>
