h1 {
  font-size: 14px;
  font-weight: 600;
}

img {
  width: 80px;
}

#techStack {
  padding-bottom: 30px;
}

.card {
  padding: 30px;
  width: 800px;
  margin: 20px auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



@media only screen and (max-width:1000px) {

  section {
    width: auto;
    padding:  0;
  }

  #techStack div div {
    justify-content: center;
    overflow: scroll;
  }

  #techStack div div img {
    padding: 10px 20px;
  }
}
