<section id="techStack">
  <div class="card">
    <h1>My tech stack:</h1>
    <div class="flex">
      <img src="../../../assets/images/node.png" alt="node">
      <img src="../../../assets/images/react.png" alt="react">
      <img src="../../../assets/images/angular.png" alt="angular">
      <img src="../../../assets/images/js.png" alt="javascript">
      <img src="../../../assets/images/node.png" alt="node">
      <img src="../../../assets/images/react.png" alt="react">
      <img src="../../../assets/images/angular.png" alt="angular">
    </div>
  </div>
</section>
