article {
  display: flex;
  align-items: center;
  width: 400px;
  gap: 20px;
}

p strong {
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
}

img {
  width: 130px;
  border-radius: 130px;
  margin-bottom: -20px;
}

@media only screen and (max-width:1000px) {

  img {
    width: 60px;
    position: relative;
    margin: 0;
  }

  article {
    width: 100%;
    align-items: center;
  }

  p strong {
    font-size: 25px;
    width: 50px;
  }
}
