#app {
  width: auto;
  border-collapse: separate;
  margin: 0;
  padding: 0;
}

#app td,
#app th {
  padding: 5px 10px 5px 5px;
  color: white;
}

#app th {
  text-align: left;
  color: white;
}


@media only screen and (max-width:1000px) {

  #app td,
  #app th {
    font-size: 12px;
    line-height: 12px;
    padding:2px 5px;
    text-align: right;
  }

}
