div {
  width: 600px;
}

@media only screen and (max-width:1000px) {

  div {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    padding: 0;
  }

  p {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 40px;
  }
}
