<section id="experience">
  <h1 class="resumeTitle centered">Experience & things I have learned</h1>
  <p class="centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ut placeat exercitationem
    odio iure, eos
    dolore accusantium.</p>
  <section id="academic" class="card pSmall">
    <div class="flex expline">
      <div>
        <h1>Lorem Ipsum</h1>
        <div class="flex">
          <p class="pSmallBold">Student</p>
          <p>Jan 1016-Dec 2021</p>
        </div>
      </div>
      <div class="degree">
        <h1>Computer Science Degree</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit:</p>
        <ul>
          <li>List item 1 Lorem Ipsum Sit Amet</li>
          <li>List item 2 Lorem Ipsum Sit Amet</li>
          <li>List item 3 Lorem Ipsum Sit Amet</li>
        </ul>
      </div>
    </div>
    <div class="flex expline">
      <div>
        <h1>Lorem Ipsum</h1>
        <div class="flex">
          <p class="pSmallBold">Student</p>
          <p>Jan 1016-Dec 2021</p>
        </div>
      </div>
      <div class="degree">
        <h1>Certificate Of Backend Dev</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique libero in deserunt
          temporibus placeat nobis iste inventore veritatis porro sunt saepe amet, nesciunt, veniam
          doloremque tenetur itaque qui rem? Provident</p>
      </div>
    </div>
    <div class="flex expline">
      <div>
        <h1>Lorem Ipsum</h1>
        <div class="flex">
          <p class="pSmallBold">Student</p>
          <p>Jan 1016-Dec 2021</p>
        </div>
      </div>
      <div class="degree">
        <h1>Certificate of Frontend Dev</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique libero in deserunt
          temporibus placeat nobis iste inventore veritatis porro sunt saepe amet, nesciunt, veniam
          doloremque tenetur itaque qui rem? Provident</p>
      </div>
    </div>
  </section>
</section>
