div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

img {
  width: 50px;
  display: block;
  padding: 0 10px;
}

p {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  color: black;
}
