* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

q {
  font-size: 55px;
  line-height: 60px;
}

section {
  padding: 0 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


section h1,
q {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

section h1 strong,
q strong {
  color: #ffb400;
}

section p {
  color: rgb(88, 88, 88);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}



/*


section#resume {
    padding-top: 50px;
}

#aboutLanguages {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

section#resume h1 {
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 30px;
}

section#resume img {
    width: 300px;
}

.card {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: white;
    padding: 25px;
    padding-right: 50px;
    flex: 1;
}

section#aboutMe h1 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 5px;
}

section#aboutMe h2 {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 0;
}

#languagesHobbies {
    display: flex;
}

#languagesHobbies div {
    flex: 1;
}

#languagesHobbies .pSmall {
    display: flex;
    width: 220px;
    justify-content: space-between;
    padding: 0;
}

.pSmall p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.pSmall li {
    font-size: 14px;
    color: rgb(87, 86, 86);
    list-style-type: circle;
    margin-left: 15px;
}

#languagesHobbies .pSmall p:last-child {
    font-weight: 800;
}

#hobbies {
    position: relative;
}

#hobbies div:first-of-type {
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.progressContainer {
    width: 220px;
    border: 1px solid orangered;
    border-radius: 5px;
    height: 5px;
    padding: 2px;
}

.progress1 {
    background-color: #EE8A2F;
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.progress2 {
    background-color: #EE8A2F;
    border-radius: 2px;
    height: 100%;
    width: 80%;
}

.progress3 {
    background-color: #EE8A2F;
    border-radius: 2px;
    height: 100%;
    width: 75%;
}

#languagesHobbies div:last-child div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.pSmallBold {
    text-align: center;
    padding: 0;
    font-weight: 500;
    color: black;
}

#languagesHobbies div:last-child div article img {
    width: 50px;
    padding: 15px;
    display: block;
}

#learnMore {
    display: flex;
    height: 10px;
    position: absolute;
    bottom: 3px;
    padding: 0;
    justify-content: flex-end;
    width: 100%;
    gap: 15px;
}

#learnMore p {
    font-size: 9px;
    text-transform: capitalize;
    color: rgb(138, 138, 138);
    padding: 0;
    line-height: 15px;
}

#quote {
    width: 50%;
    position: relative;
}

#quote img {
    position: absolute;
    right: 0;
}

#quote q {
    padding: 50px;
    position: absolute;
    bottom: 20px;
    width: 500px;
}

#resume .resumeTitle {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

.centered {
    text-align: center;
    width: 600px;
    margin: auto;
}

#academic.card {
    padding: 30px;
    width: 800px;
    margin: 20px auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 40px;
}

#experience .expline {
    border-bottom: 1px solid rgb(201, 200, 200);
    padding: 30px 0;
    align-items: flex-start;
}

#experience .expline:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#experience .pSmall p {
    padding-top: 0;
}



#academic div div div p:last-child {
    background-color: #EE8A2F;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 10px;
}

#academic div div div {
    justify-content: space-between;
    width: 200px;
}

section#experience h1,
section#techStack h1,
section#references h1 {
    font-size: 14px;
    font-weight: 600;
}

.degree {
    width: 450px;
}

section#techStack img {
    width: 80px;
}

section#techStack {
    padding-bottom: 30px;
}

section#techStack .card {
    padding: 30px;
    width: 800px;
    margin: 20px auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

section#references {
    width: 860px;
    margin: 0 auto;
}

section#references .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px 0;
}

section#references div .card {
    display: grid;
    height: 190px;
    padding: 40px 20px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    gap: 15px;
    align-items: center;
}

section#references article .pCard {
    font-size: 14px;
    line-height: 22px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

section#references article .h1Card {
    padding-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

section#references article img {
    width: 80px;
    border-radius: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

section#references article .divCard {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

section#references article .divCard h1 {
    padding: 0;
}

section#references article .divCard p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 20px;
}

#buttons div {
    justify-content: center;
    gap: 15px !important;
}

#buttons .circleOut {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(231, 231, 231);
    padding: 3px;
    position: relative;
}

#buttons .circleIn {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 100%;
    background-color: orange;
}




section#contact {
    margin: 30px 0 0 0;
    background-image: url(../media/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: flex-end;
    padding: 20px 0 100px 50px;
}

section#contact img {
    position: absolute;
    top: 350px;
    left: -90px;
}

#contact h1 {
    padding-bottom: 10px;
}

#contact q {
    font-size: 65px;
    line-height: 65px;
}

#contact div:first-child {
    flex: 1;
}

#contact div:last-child {
    padding: 30px 60px;
    margin-right: 320px;
    flex: 0.5;
    position: relative;
}

#contact form input,
#contact form textarea {
    height: 40px;
    border: none;
    background-color: #f0f0f6;
    border-radius: 5px;
}

#contact form textarea {
    height: 200px;
}

#contact form input,
#contact form label,
#contact form textarea {
    display: block;
    width: 100%;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(83, 83, 83);
    padding: 7px 0;
    text-transform: capitalize;
}

section#contact form div {
    display: flex;
    border: 1px solid orange;
    width: 150px;
    background-color: white;
    border-radius: 0;
    padding: 0 10px !important;
    margin: 15px 0 !important;
    align-items: center;
    justify-content: center;
}

section#contact #sendMessage {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: white;
}



#app {
    width: auto;
    border-collapse: collapse;
    margin: 20px 0 0 0;
}

#app td,
#app th {
    padding: 5px 10px;
    border-right: 10px solid rgb(243, 243, 243);
}

#app th {
    background-color: #EE8A2F;
    color:white;
}




@media only screen and (max-width:1000px) {

    * {
        position: relative;
    }

    header {
        background-color: #EE8A2F;
        display: block;
        padding: 15px;
        justify-content: space-evenly;
        height: 100px;
    }

    header img {
        width: 60px;
        position: relative;
        margin: 0;
    }

    header article {
        width: 100%;
        align-items: center;
    }

    header p strong {
        font-size: 25px;
        width: 50px;
    }

    header nav ul {
        justify-content: center;
    }

    section#home {
        flex-direction: column;
        background-image: none;
        padding: 6%;
        background-color: white;
        height: auto;
    }

    section#home #homeTitle {
        width: 100%;
        text-align: center;
    }

    section#home #homeTitle h1 {
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        padding: 0;
    }

    section#home #homeTitle p {
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 40px;
    }

    section#home #parche {
        width: 80px;
        height: 15px;
        background-color: white;
        margin: auto;
        border-top: 2px solid grey;
        position: relative;
        z-index: 5;
        margin-top: -1px;
    }

    section#home figure:first-of-type {
        display: flex;
        position: relative;
        justify-content: center;
        border-bottom: 2px solid grey;
    }

    section#home #parche,
    section#home #logoBack {
        display: block;

    }

    section#home figure:first-of-type img {

        height: 300px;
        position: relative;
        margin: 0 auto;
        padding: 0;
        right: -3px;
        bottom: -1px;
        z-index: 3;
    }

    section#home #logoBack img {
        height: 320px;
        position: absolute;
        margin: 0 auto;
        padding: 0;
        left: 0px;
        bottom: -10px;
        z-index: 1;
    }

    section#home .icons {

        bottom: auto;
    }

    section#home #personalInfo {
        width: auto;
    }

    section#home #personalInfo p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    section#home #personalInfo div:first-child {
        width: 30%;
    }

    section#home #personalInfo div:first-child p {
        padding: 5px;
    }

    section#home button {
        width: 100%;
    }

    section#resume {
        width: auto;
        padding: 6%;
        margin-bottom: 130px;
    }

    section#resume section {
        flex-direction: column-reverse;
    }

    section p,
    section h1,
    section h2 {
        text-align: center;
        width: auto;
    }

    q {
        padding: 0 !important;
        bottom: auto;
        width: 100%;
        font-size: 2.5em;
        line-height: 1.2em;
        z-index: 99;
    }

    section#resume #quote {
        margin-bottom: 130px;
        width: 100%;
    }

    section#experience h1.resumeTitle {
        font-size: 19px
    }

    section#resume h1 {
        font-size: 40px;
    }

    section#resume q {
        width: 100%;
        bottom: auto;
        font-size: 1.7em;
        top: 11vh;
    }

    section#resume #quoteLogo {
        position: absolute;
        width: 120px;
        right: 0;
        top: 0;
    }

    .card {
        padding: 25px;
        justify-content: flex-end;
        width: auto !important;
    }

    #aboutMe.card {
        margin-top: 50px;
    }

    section#resume .card h1 {
        font-size: 18px;
    }

    section#resume .card h2 {
        padding: 15px 0;
        font-size: 18px;

    }

    #languagesHobbies {
        flex-direction: column;
    }

    #languagesHobbies div:first-of-type div {
        width: 100%;
    }

    #learnMore {
        position: relative;
        bottom: unset;
        justify-content: center;
        margin-top: 20px;
    }

    .centered {
        width: auto;
    }



    section#experience div {
        display: block;
        width: auto;
    }

    section#academic div div div {
        display: flex;
        padding-bottom: 30px;
    }

    section#academic div div h1,
    section#academic div div p {
        text-align: left;
    }

    #techStack .flex {
        justify-content: center;
        overflow: scroll;
    }

    #techStack div div img {
        padding: 0 20px;
    }



    section#references {
        width: auto;
    }

    section#references .grid {
        grid-template-columns: 1fr;

    }

    section#references article {
        width: 100%;
    }

    section#references article h1,
    section#references article p {
        text-align: left;
    }

    section#contact {
        flex-direction: column;

        padding: 0;
        align-items: center;
        height: 40vh;
        margin-bottom: 90vh;
    }

    section#contact q {
        font-size: 27px;
        line-height: unset;
        position: absolute;
        bottom: 300px;
    }

    section#contact .card {
        padding: 20px;
        margin: 0;
        position: absolute !important;
        top: 220px;
        width: 75% !important;
    }

    section#contact #sendMessage {
        text-align: center;
    }

    section#contact div:first-of-type {
        width: 80%;
    }

    section#contact div:last-of-type {
        position: relative;
    }

    footer.flex {
        padding-left: 5px;
        justify-content: flex-start;
    }

    footer.flex p:first-child::after,
    footer.flex p:nth-child(2)::after {
        padding-left: 5px;
        content: "  |";
    }
} */
