<div class="grid">
  <article class="card">
    <h1>A breathtaking person!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
      voluptas
      magnam.</p>
    <img src="../../../assets/images/ref1.png" alt="">
    <div>
      <h1>Keanu Reeves</h1>
      <p>A cyberpunk</p>

    </div>
  </article>
  <article class="card">
    <h1>Took an arrow to the knee!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
      voluptas
      magnam.</p>

    <img src="../../../assets/images/ref2.png" alt="">
    <div>
      <h1>Skyrim Guard</h1>
      <p>Used to be an adventurer</p>
    </div>
  </article>
  <article class="card">
    <h1>오징어 게임</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
      voluptas
      magnam.</p>
    <img src="../../../assets/images/ref3.png" alt="">
    <div>
      <h1>Seong Gi-Hun</h1>
      <p>Plays games</p>

    </div>
  </article>
</div>
