<section id="references">
  <h1 class="resumeTitle">References:</h1>
  <div class="grid">
    <article class="card">
      <h1 class="h1Card">A breathtaking person!</h1>
      <p class="pCard">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
        voluptas
        magnam.</p>
      <img src="media/ref1.png" alt="">
      <div class="divCard">
        <h1>Keanu Reeves</h1>
        <p>A cyberpunk</p>

      </div>
    </article>
    <article class="card">
      <h1 class="h1Card">Took an arrow to the knee!</h1>
      <p class="pCard">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
        voluptas
        magnam.</p>

      <img src="media/ref2.png" alt="">
      <div class="divCard">
        <h1>Skyrim Guard</h1>
        <p>Used to be an adventurer</p>
      </div>
    </article>
    <article class="card">
      <h1 class="h1Card">오징어 게임</h1>
      <p class="pCard">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ullam odio dolore
        voluptas
        magnam.</p>
      <img src="media/ref3.png" alt="">
      <div class="divCard">
        <h1>Seong Gi-Hun</h1>
        <p>Plays games</p>

      </div>
    </article>
  </div>
  <div id="buttons">
    <div class="flex">
      <div class="circleOut">
        <div class="circleIn"></div>
      </div>
      <div class="circleOut">
      </div>
      <div class="circleOut">
      </div>
    </div>
  </div>
</section>
