#parche,
#logoBack {
  display: none;
}

figure img {
  height: 540px;
  position: absolute;
  right: 105px;
  bottom: 31px;
}

@media only screen and (max-width:1000px) {


  figure {
    border-bottom: 2px solid grey;
    margin-bottom: 15px;
  }

  figure img {
    height: 300px;
    margin: 0 auto;
    padding: 0;
    right: -3px;
    bottom: -16px;
    z-index: 3;
    display: flex;
    position: relative;
  }

  #parche {
    display: block;
    width: 80px;
    height: 15px;
    background-color: white;
    margin: auto;
    border-top: 2px solid grey;
    position: relative;
    z-index: 5;
    margin-top: -17px;
  }

  #logoBack {
    display: block;
    height: 320px;
    position: absolute;
    left: -113px;
    bottom: -15px;
    z-index: 1;
  }

  #fullPic {
    bottom: 0px;
  }
}
